<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fintechplatform.ui">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
            android:name="com.fintechplatform.ui.payin.PayInActivity"/>
        <activity android:name="com.fintechplatform.ui.secure3d.Secure3DActivity" />
        <activity android:name="com.fintechplatform.ui.card.PaymentCardActivity" />
        <activity android:name="com.fintechplatform.ui.payout.PayOutActivity" />
        <activity android:name="com.fintechplatform.ui.iban.IBANActivity" />
        <activity android:name="com.fintechplatform.ui.account.financialdata.payinpayout.FinancialDataActivity" />
        <activity android:name="com.fintechplatform.ui.account.financialdata.bank.BankFinancialDataActivity" />
        <activity
            android:name="com.fintechplatform.ui.transactions.ui.TransactionsActivity"
            android:theme="@style/noAnimTheme" />
        <activity android:name="com.fintechplatform.ui.transactions.ui.detail.TransactionDetailActivity" />
        <activity android:name="com.fintechplatform.ui.profile.lightdata.LightDataActivity" />
        <activity android:name="com.fintechplatform.ui.profile.contacts.ContactsActivity" />
        <activity android:name="com.fintechplatform.ui.profile.address.AddressActivity" />
        <activity android:name="com.fintechplatform.ui.profile.jobinfo.JobInfoActivity" />
        <activity android:name="com.fintechplatform.ui.profile.idcards.IdentityCardsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.fintechplatform.ui.enterprise.info.ui.EnterpriseInfoActivity" />
        <activity android:name="com.fintechplatform.ui.enterprise.contacts.ui.EnterpriseContactsActivity" />
        <activity android:name="com.fintechplatform.ui.enterprise.address.ui.EnterpriseAddressActivity" />
        <activity android:name="com.fintechplatform.ui.enterprise.documents.ui.EnterpriseDocumentsActivity" />
        <activity android:name="com.fintechplatform.ui.newibancontact.ui.NewIbanContactActivity" />
        <activity android:name="com.fintechplatform.ui.transfer.TransferActivity" />
        <activity android:name="com.fintechplatform.ui.sct.ui.SctActivity" />
        <activity android:name="com.fintechplatform.ui.qrtransfer.qrconfirm.QrConfirmActivity" />
        <activity android:name="com.fintechplatform.ui.qrtransfer.creditui.QrReceiveActivity" />
    </application>

</manifest>