<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fintechplatform.android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
            android:name=".payin.PayInActivity"
            android:windowSoftInputMode="stateVisible" />
        <activity android:name=".secure3d.ui.Secure3DActivity" />
        <activity android:name=".card.ui.PaymentCardActivity" />
        <activity android:name=".payout.ui.PayOutActivity" />
        <activity android:name=".iban.ui.IBANActivity" />
        <activity android:name=".account.payinpayoutfinancialdata.ui.PayInPayOutFinancialDataActivity" />
        <activity android:name=".account.financialdata.ui.FinancialDataActivity" />
        <activity
            android:name=".transactions.ui.TransactionsActivity"
            android:theme="@style/noAnimTheme" />
        <activity android:name=".transactions.ui.detail.ui.TransactionDetailActivity" />
        <activity android:name=".profile.lightdata.ui.LightDataActivity" />
        <activity android:name=".profile.contacts.ui.ContactsActivity" />
        <activity android:name=".profile.address.ui.AddressActivity" />
        <activity android:name=".profile.jobinfo.ui.JobInfoActivity" />
        <activity android:name=".profile.idcards.ui.IdentityCardsActivity" />
        <activity android:name=".enterprise.info.ui.EnterpriseInfoActivity" />
        <activity android:name=".enterprise.contacts.ui.EnterpriseContactsActivity" />
        <activity android:name=".enterprise.address.ui.EnterpriseAddressActivity" />
        <activity android:name=".enterprise.documents.ui.EnterpriseDocumentsActivity" />
        <activity android:name=".account.list.ui.AccountlistActivity" />
        <activity android:name=".newibancontact.ui.NewIbanContactActivity" />
        <activity android:name=".transfer.ui.TransferActivity" />
    </application>

</manifest>